@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');
h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather Sans', sans-serif;
    padding-left:0.5em;
    padding-right:0.5em;
    }
p {
    font-family: sans-serif;
    font-size: 16pt;
}
body{
    text-align: center;
}
main{
    background-color: #EDF6F9;
    margin:20px;
    padding:20px;
}
main.form{
    display:grid;
    grid-auto-columns: 1fr;
   grid-auto-flow: column;
    background-color: #EDF6F9;
    margin: 20px;
    padding: 20px;
}
#formbox{
    background-color: #FFDDD2;
    grid-column: 1/3;
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
}
#memberList{
    font-family: 'Merriweather Sans', sans-serif;
}
#membership-description {
    grid-column: 3/5;
}
form {
    display:block;
    margin: 10px;
    padding: 10px;
}
input[type=text], input[type=tel], input[type=email], select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
input[type=radio]{
    resize:vertical;
}
label {
    padding: 10px;
    display: inline-block;
  }
header {
    background-color: #83C5BE;
    margin: auto;
    min-height: 80px;
    text-align: center;
}
div.header-grid{
    display:block;
    align-items: center;
}
nav{
    display:block;
    padding: 0.5em;
}
nav ul{
    padding:0;
}
.navigation li:first-child{
    display: block;
}
.navigation li{
    display:none;
}
.navigation a{
    display:block;
    padding: 0.75rem;
    text-align: center;
    color:#EDF6F9;
    text-decoration: none;
    background-color: #006D77;
}
.navigation a:hover{
    background-color: #E29578;
    color: #006D77;
}
h2 {
    text-align: center;
}
.shown li{
    display: block;
    grid-column: 2;
    grid-row:2;
}
ul{
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    list-style: none;
    font-size: 16pt;
    margin-left: 0;
}
div.logo-box {
    border-radius: 0 0 0 0; 
  padding: 0.5em;
  grid-column: 1;
  grid-row:1;
}
div.date-box{
    border-style: solid;
    margin-bottom: 0.5em;
}
img.logo {
    height: 100%;
}
img.pencils{
    height:33%;
    width:33%;
}
img.truck{
    height:33%;
    width:33%;
}
img.tree{
    height:33%;
    width:33%; 
}
main.index {
    display:grid;
    align-items: center;
    text-align: center;
    grid-gap: 20px 20px;
    background-color: #EDF6F9;
    padding: 20px;
}
div.hero, div.event, div.weather, div.news, div.spotlights, div.join{
    background-color: #FFDDD2;
    border-style: solid;
    border-width: 1px;
    min-height: 200px;

}
div.joinpage {
    background-color: #FFDDD2;
    border-style: solid;
    border-width: 1px;
    margin: 10px;
    padding: 10px;
    min-height:200px;
}
div.spotlights{
    display:grid;

}
#spotlight1, #spotlight2, #spotlight3 {
    border-style: solid;
    border-width: 1px;
    margin: 10px;
}
.spotlight {
    font-size:12pt;
}
div.weather-box{
    display:flex;
    justify-content: space-around;
    border-style: solid;
    border-width: 1px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    margin: 10px;
}
#weather{
    height:33%;
    width:33%;
}
#spotlight2, #spotlight3{
    display: none;
}
div.hero{
    position: relative;
    background-size: cover;
    background-image: URL("../images/hero-background-min.jpg");
}
#hero-box {
    overflow:hidden;
}
div.wind-chill{
    display: flex;
    justify-content: center;
}
#hero{
    position:absolute;
}
#bhero, #joinbutton{
    font-family: 'Merriweather Sans', sans-serif;;
    background-color: #EDF6F9;
    border-radius: 4px;
    font-size: 16pt;

}
#bhero {
    display: none;
    position:absolute;
    bottom:20px;
    right:20px;
}
#joinbutton{
    margin: 20px;
    width: 250px;
}
div.join {
    display:none;
}
div.meeting {
    display:none;
}
div.content {
    padding: 1em;
  }
body {
    background-color: #006D77;
  }
  footer{

    background-color:#83C5BE;
  }
 div.footer-date{
    text-align: center;
    }
div.footer-main{
    margin-top:20px;
    display:block;
    align-items: center;
}
div.footer-box {
    margin-top: 20px;
    padding: 0.5em;
}
#content {
    width: 100%;
    margin: 0 auto;
    }
    .cards {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    margin:10px;
    }
    .cards section {
    border: 1px solid black;
    background-color: #FFDDD2;
    padding: 30px;
    text-align: center;
    width: 300px;
    margin: 20px;
    }
    h2.directory {
    text-align: center;
    }
    img.directory {
    width: 90%;
    box-shadow: 5px 10px 8px 5px #888888;
    }
    table {
        width: 100%;
        margin: 10px auto;
        border-collapse: collapse;
    }
    th, td {
        padding: 7px 15px;

    }
    td {
        text-align: center;
        font-family: 'Merriweather Sans', sans-serif;
    }
    table tr:nth-child(even) {
        background-color: #FFDDD2;
    }

@media screen and (min-width:800px) {
    main.index{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    }
    #discover-images{
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap:10px;
    }
    img.main:hover{
         box-shadow: 0 0 50px #333;
    }
    div.hero, div.event, div.weather, div.news, div.spotlights, div.join {
        height:100%;
   }
   #spotlight2 {
       display:block;
       grid-column:2;
   }
    div.hero{
        grid-column: 1/ span 3;
        grid-row: 1;
    }
    div.news {
        grid-column: 1/ span 3;
        grid-row: 2;
    }
    div.spotlights {
        grid-column: 1/ span 3;
        grid-row: 3;
        display: grid;
    }
    div.join {
        display: block;
        grid-column: 1/ span 3;
        grid-row: 4;
    }
    div.event {
        grid-column: 1/ span 2;
        grid-row: 5;
    }
    div.footer-main{
        display:flex;
    }
    #img1{
        grid-column:1;
    }
    #img2{
        grid-column:2;
    }
}
@media screen and (min-width:1180px){
#img1 {
    grid-column:1;
}
#img2{
    grid-column:2;
}
#img3{
    grid-column:3;
}
    div.header-grid {
          display: grid;
          grid-template-columns: 220px auto; 
        align-items: center;
      }

      nav{
          display:block;
          grid-column: 2;
    }
    .navigation li:first-child{
        display:none;
    }
    .navigation li{
        display:block;
    }
    #spotlight3 {
        display: block;
    }
    
    nav ul{
        justify-content: space-around;
        display: flex;
        list-style: none;
        font-size: 16pt;
        vertical-align: middle;
        flex-direction: row;
    }
    main.index{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }
    div.hero, div.event, div.weather, div.news, div.spotlights, div.join {
         height:100%;
    }
    div.event{
        grid-column: 1;
        grid-row: 1;
    }
    div.weather{
        grid-column: 1;
        grid-row: 2;
    }
    div.join{
        display:block;
        grid-column: 1;
        grid-row: 3;

    }
    div.hero {
        height: 100%;
        grid-column: 2/ span 2;
        grid-row: 1/ span 2;
    }
    div.news {
        grid-column: 2/ span 2;
        grid-row: 3;
    }
    div.spotlights {
        height: 100%;
        grid-column: 4;
        grid-row: 1/ span 3;
    }
    #spotlight2 {
        grid-column: 1;
    }
    .navigation a {
        background-color: #83C5BE;
    }
    #bhero {
        display: block;
        position:absolute;
        bottom:20px;
        right:20px;
    }
}